*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.download-img{
    box-sizing: border-box;
    border-style: solid;
    border-radius: 20px;
    color: white;
    background-color: blue;
    list-style: none;
    text-decoration: none;
    padding: 4px;
}
